<!doctype html>
<html>
<head><title>Select Columns</title></head>
<body>
  <h1>Select Address Columns</h1>
(NOTE: you can choose "NONE" for the House Number Column if your data has the house number and street name in the same column. Just select that column for the Street Name Column.)
  <form method="post">
    <label>House Number Column:</label>
    <select name="house_col">
      <option value="">(NONE)</option>
      {% for col in columns %}
        <option value="{{ col }}">{{ col }}</option>
      {% endfor %}
    </select><br>

    <label>Street Name Column:</label>
    <select name="street_col">
      {% for col in columns %}
        <option value="{{ col }}">{{ col }}</option>
      {% endfor %}
    </select><br>

    <label>ZIP Code Column:</label>
    <select name="zip_col">
      {% for col in columns %}
        <option value="{{ col }}">{{ col }}</option>
      {% endfor %}
    </select><br>

    <input type="submit" value="Geocode">
  </form>
</body>
</html>



