<!doctype html>
<html>
<head><title>Select Columns</title></head>
<body>
  <h1>Select Address Columns</h1>
  (NOTE: you can choose "NONE" for the House Number Column if your data has the house number and street name in the same column. Just select that column for the Street Name Column.)
  <form method="post">
    <label>House Number Column:</label>
    <select name="house_col">
      <option value="">(NONE)</option>
      {% for col in columns %}
        <option value="{{ col }}">{{ col }}</option>
      {% endfor %}
    </select><br>

    <label>Street Name Column:</label>
    <select name="street_col">
      {% for col in columns %}
        <option value="{{ col }}">{{ col }}</option>
      {% endfor %}
    </select><br>

    <p>
    <label for="geocode_mode">Geocode using:</label>
    You need to have a column with either a zip code or or borough. Select which column type you are submitting here:<br>
    <label><input type="radio" name="geocode_mode" value="zip" checked> Geocode by ZIP code</label><br>
    <label><input type="radio" name="geocode_mode" value="boro"> Geocode by Borough</label><br>
    </p>

    <label>ZIP Code or Borough Column:</label>
    <select name="zip_col">
      {% for col in columns %}
        <option value="{{ col }}">{{ col }}</option>
      {% endfor %}
    </select><br>
    Geosupport accepts boroughs as borough codes (1–5) or abbreviations. Codes:<br>
    1 = Manhattan<br>
    2 = Bronx<br>
    3 = Brooklyn<br>
    4 = Queens<br>
    5 = Staten Island<br>
    Abbreviations (case-insensitive):<br>
    MN, BX, BK, QN, SI<br>

    <input type="submit" value="Geocode">
  </form>
</body>
</html>



